@CHARSET "UTF-8";

*{
	font-size: 14px;
}

#talkH1{
	color: #23A41A;
	font-size: 37px; 
	font-weight: bolder;
	margin-top: 40px;
	margin-bottom: 40px;
}

#personalCheck{
	background-color: whiteSmoke;
	padding: 10px 10px;
}

.border{
	font-weight: bold;
}








