@CHARSET "UTF-8";

.qnaCon {
	padding: 25px 0 0 0;
	font: 14px "맑은고딕", "Malgun Gothic", Dotum, "돋움", sans-serif;
	width: 100%;
}

.chk {
	width: 13px;
	height: 13px;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

/* Internet Explorer 10+ */
.slt {
	width: 50px;
	height: 32px;
	padding: 0 0 0 10px;
	padding: 0 0 3px 10px\9;
	border: 1px solid #dbdee1;
	font: 14px "맑은고딕", "Malgun Gothic", Dotum, "돋움", sans-serif;
	color: #494949;
	background: #fdfdfd;
}

.slt option {
	padding: 0 0 0 13px;
	font: 14px "맑은고딕", "Malgun Gothic", Dotum, "돋움", sans-serif;
}


.qnatable {
	border: none;
	width: 1000px;
}

.qnatable tr th {
	padding: 5px 0 11px 12px;
	font-size: 15px;
	font-weight: bold;
	background: #fff;
}

//#23A41A;
.qnatable tr th .sq {
	display: inline-block;
	width: 14px;
	height: 8px;
	padding: 0;
	background: url(https://contents.albamon.kr/monimg/mem/icon_spot_1.png) no-repeat 0 -81px;
	text-indent: -9999em;
	vertical-align: middle;
}

.loc {
	padding: 15px 0 11px 12px;
	vertical-align: top;
}

.loc_1 {
	padding: 5px 0 11px 26px;
}

.file {
	padding: 15px 0 11px 26px;
	vertical-align: top;
}

.qnatable tr td {
	padding: 15px 12px 16px 17px;
	box-sizing: border-box;
}

.qnatable tr td .fileList {
	position: relative;
	padding-right: 78px;
}

.fileWp {
	position: relative;
	width: 100%;
	height: 32px;
	margin-bottom: 8px;
	padding: 4px 0 0 4px;
	border: 1px solid #e1e1e1;
	background: #f5f5f5;
	box-sizing: border-box;
}

.fileWp label {
	overflow: hidden;
	display: block;
	position: absolute;
	left: 4px;
	top: 4px;
	width: 67px;
	height: 22px;
	cursor: pointer;
}

.fileWp label:before {
	content: '';
	display: block;
	width: 67px;
	height: 22px;

}

.tip {
	position: relative;
	margin-top: -8px;
	font-size: 12px;
	color: #618bdf;
}

.txWp {
	position: relative;
}

.txWp .pTex {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 100%;
	padding: 9px 9px 9px 10px;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #333;
	background: #fff;
}

.txWp .pTex span {
	display: inline-block;
	margin-bottom: 1px;
	color: #999;
}

.txWp textarea {
	width: 100%;
	height: 250px;
	padding: 10px;
	border: 1px solid #b4bac0;
	color: #494949;
	font: 14px "맑은고딕", "Malgun Gothic", Dotum, "돋움", sans-serif;
}

.privacyWp {
	margin-top: 20px;
	font-size: 12px;
}

.privacy {
	padding: 17px 12px;
	border: 1px solid #f0f0f0;
	background: #fafafa;
	font-size: 12px;
}

.privacy h2 {
	margin: 0;
	padding: 0 0 8px 0;
	border: none;
	background: none;
	font-size: 13px;
}

.privacyWp .agree {
	font-weight: bold;
	font-size: 14px;
	padding: 14px 0 0 3px;
}

.btn {
	padding: 45px 0 62px 0;
}

.btn .cBtn {
	display: inline-block;
	width: 132px;
	height: 44px;
	font: bold 16px "맑은고딕", "Malgun Gothic", Dotum, "돋움", sans-serif;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
	background: #f5f8fa;
	vertical-align: middle;
	line-height: 40px;
	text-decoration: none;
}

.btn .bBtn {
	display: inline-block;
	width: 132px;
	height: 46px;
	margin-left: 5px;
	padding-bottom: 2px;
	font: bold 16px "맑은고딕", "Malgun Gothic", Dotum, "돋움", sans-serif;
	border-radius: 2px;
	text-align: center;
	background: #23A41A;
	color: #fff;
	vertical-align: middle;
}





/*  <style type="text/css">
        #popupWrap .popTitle .hTip {
            position: absolute;
            top: 25px;
            right: 28px;
            color: #ff6633;
            font: 12px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
        }

        #popupWrap .popCon {
            padding: 25px 0 0 0;
            font: 14px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
        }

            #popupWrap .popCon .ipt {
                width: 100%;
                height: 32px;
                padding: 4px 10px 6px 10px;
                border-top: 1px solid #bbbdc0;
                border-left: 1px solid #bbbdc0;
                border-bottom: 1px solid #dbdee1;
                border-right: 1px solid #dbdee1;
                background: #fdfdfd;
                font: 14px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
                color: #494949;
                box-sizing: border-box;
            }

                #popupWrap .popCon .ipt:hover {
                    border: 1px solid #ff6600;
                }

            #popupWrap .popCon .chk,
            #popupWrap .popCon .rdo {
                width: 13px;
                height: 13px;
                margin: 0 6px 0 0;
                vertical-align: middle;
            }

            #popupWrap .popCon input::-webkit-input-placeholder {
                color: #999;
            }
            webkit
            #popupWrap .popCon input:-moz-placeholder {
                color: #999;
            }
            Mozilla Firefox 4 to 18
            #popupWrap .popCon input::-moz-placeholder {
                color: #999;
            }
            Mozilla Firefox 19+
            #popupWrap .popCon input:-ms-input-placeholder {
                color: #999;
            }
            Internet Explorer 10+
            #popupWrap .popCon .slt {
                width: 50px;
                height: 32px;
                padding: 0 0 0 10px;
                padding: 0 0 3px 10px\9;
                border: 1px solid #dbdee1;
                font: 14px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
                color: #494949;
                background: #fdfdfd;
            }

                #popupWrap .popCon .slt option {
                    padding: 0 0 0 13px;
                    font: 14px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
                }

                #popupWrap .popCon .slt:hover {
                    border: 1px solid #ff6600;
                }

            #popupWrap .popCon .typeA {
                border: none;
            }

                #popupWrap .popCon .typeA tr th {
                    padding: 5px 0 11px 12px;
                    font-size: 15px;
                    font-weight: bold;
                    background: #fff;
                }

                    #popupWrap .popCon .typeA tr th .sq {
                        display: inline-block;
                        width: 14px;
                        height: 8px;
                        padding: 0;
                        background: url(https://contents.albamon.kr/monimg/mem/icon_spot_1.png) no-repeat 0 -81px;
                        text-indent: -9999em;
                        vertical-align: middle;
                    }

                    #popupWrap .popCon .typeA tr th.loc {
                        padding: 15px 0 11px 12px;
                        vertical-align: top;
                    }

                    #popupWrap .popCon .typeA tr th.loc_1 {
                        padding: 5px 0 11px 26px;
                    }

                    #popupWrap .popCon .typeA tr th.file {
                        padding: 15px 0 11px 26px;
                        vertical-align: top;
                    }

                        #popupWrap .popCon .typeA tr th.file .countFile {
                            font-size: 13px;
                            color: #494949;
                        }

                            #popupWrap .popCon .typeA tr th.file .countFile em {
                                color: #f63;
                            }

                #popupWrap .popCon .typeA tr td {
                    padding: 15px 12px 16px 17px;
                    box-sizing: border-box;
                }

                    #popupWrap .popCon .typeA tr td .fileList {
                        position: relative;
                        padding-right: 78px;
                    }

                        #popupWrap .popCon .typeA tr td .fileList .buttonAdd {
                            display: block;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 70px;
                            height: 32px;
                            box-sizing: border-box;
                            border: 1px solid #999;
                            background-color: #fff;
                            border-radius: 2px;
                            letter-spacing: -1px;
                            text-align: left;
                        }

                            #popupWrap .popCon .typeA tr td .fileList .buttonAdd:before {
                                content: '';
                                position: absolute;
                                left: 10px;
                                top: 10px;
                                width: 10px;
                                height: 10px;
                                background: url('https://contents.albamon.kr/monimg/qna/sprite-file.png') no-repeat 0 -20px;
                            }

                            #popupWrap .popCon .typeA tr td .fileList .buttonAdd span {
                                display: block;
                                height: 100%;
                                padding: 6px 0 0 29px;
                                box-sizing: border-box;
                                font-size: 13px;
                                color: #494949;
                            }

                    #popupWrap .popCon .typeA tr td .fileWp {
                        position: relative;
                        width: 100%;
                        height: 32px;
                        margin-bottom: 8px;
                        padding: 4px 0 0 4px;
                        border: 1px solid #e1e1e1;
                        background: #f5f5f5;
                        box-sizing: border-box;
                    }

                        #popupWrap .popCon .typeA tr td .fileWp label {
                            overflow: hidden;
                            display: block;
                            position: absolute;
                            left: 4px;
                            top: 4px;
                            width: 67px;
                            height: 22px;
                            cursor: pointer;
                        }

                            #popupWrap .popCon .typeA tr td .fileWp label:before {
                                content: '';
                                display: block;
                                width: 67px;
                                height: 22px;
                                background: url('https://contents.albamon.kr/monimg/mem/search_file.gif') no-repeat;
                            }

                        #popupWrap .popCon .typeA tr td .fileWp .filename {
                            position: absolute;
                            left: 80px;
                            top: 0;
                            height: 30px;
                            padding-top: 6px;
                            font-size: 12px;
                            color: #494949;
                            white-space: nowrap;
                            box-sizing: border-box;
                        }

                        #popupWrap .popCon .typeA tr td .fileWp .buttonDelete {
                            overflow: hidden;
                            display: block;
                            position: absolute;
                            right: 12px;
                            top: 10px;
                            width: 10px;
                            height: 10px;
                        }

                            #popupWrap .popCon .typeA tr td .fileWp .buttonDelete:before {
                                content: '';
                                display: block;
                                width: 10px;
                                height: 10px;
                                background: url('https://contents.albamon.kr/monimg/qna/sprite-file.png') no-repeat 0 0;
                            }

                    #popupWrap .popCon .typeA tr td .tip {
                        position: relative;
                        margin-top: -8px;
                        font-size: 12px;
                        color: #618bdf;
                    }

                    #popupWrap .popCon .typeA tr td .txWp {
                        position: relative;
                    }

                        #popupWrap .popCon .typeA tr td .txWp .pTex {
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            width: 95%;
                            padding: 9px 9px 9px 10px;
                            font-size: 14px;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            color: #333;
                            background: #fff;
                        }

                            #popupWrap .popCon .typeA tr td .txWp .pTex span {
                                display: inline-block;
                                margin-bottom: 1px;
                                color: #999;
                            }

                        #popupWrap .popCon .typeA tr td .txWp textarea {
                            width: 94%;
                            height: 250px;
                            padding: 10px;
                            border: 1px solid #b4bac0;
                            color: #494949;
                            font: 14px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
                        }

                            #popupWrap .popCon .typeA tr td .txWp textarea:hover {
                                border: 1px solid #ff6600;
                            }

            #popupWrap .popCon .privacyWp {
                margin-top: 20px;
                font-size: 12px;
            }

                #popupWrap .popCon .privacyWp .privacy {
                    padding: 17px 12px;
                    border: 1px solid #f0f0f0;
                    background: #fafafa;
                    font-size: 12px;
                }

                    #popupWrap .popCon .privacyWp .privacy h2 {
                        margin: 0;
                        padding: 0 0 8px 0;
                        border: none;
                        background: none;
                        font-size: 13px;
                    }

                #popupWrap .popCon .privacyWp .agree {
                    font-weight: bold;
                    font-size: 14px;
                    padding: 14px 0 0 3px;
                }

            #popupWrap .popCon .btn {
                padding: 45px 0 62px 0;
            }

                #popupWrap .popCon .btn .cBtn {
                    display: inline-block;
                    width: 132px;
                    height: 44px;
                    font: bold 16px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    text-align: center;
                    background: #f5f8fa;
                    vertical-align: middle;
                    line-height: 40px;
                    text-decoration: none;
                }

                #popupWrap .popCon .btn .bBtn {
                    display: inline-block;
                    width: 132px;
                    height: 46px;
                    margin-left: 5px;
                    padding-bottom: 2px;
                    font: bold 16px "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
                    border-radius: 2px;
                    text-align: center;
                    background: #ff6600;
                    color: #fff;
                    vertical-align: middle;
                }

            #popupWrap .popCon .customer {
                position: absolute;
                left: 0;
                width: 100%;
                border-top: 1px solid #d8d8d8;
                background: #e6e6e6;
            }

                #popupWrap .popCon .customer dl {
                    padding: 18px 29px;
                    color: #75787c;
                    font-size: 12px;
                    color: #494949;
                }

                    #popupWrap .popCon .customer dl dt {
                        padding: 0 0 5px 0;
                        font-weight: bold;
                    }

                    #popupWrap .popCon .customer dl dd span.gIcon {
                        display: inline-block;
                        width: 1px;
                        height: 14px;
                        margin: 0 5px;
                        vertical-align: middle;
                        background: #bfbfbf;
                    }
    </style> */
