@CHARSET "UTF-8";

.seller_menu{
	width: 1100px;
	height: 1200px;
}

#contents{
	width: 200px;
	height: 30px;
}

#smart_editor2{
	width: 800px;
}

.btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn:active:focus, .btn:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none
}

.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}

a.btn.disabled, fieldset[disabled] a.btn {
	pointer-events: none
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.btn-default.focus, .btn-default:focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c
}

.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover,
	.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
	.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus,
	.open>.dropdown-toggle.btn-default:hover {
	color: #333;
	background-color: #d4d4d4;
	border-color: #8c8c8c
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
	background-image: none
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover,
	.btn-default[disabled].focus, .btn-default[disabled]:focus,
	.btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus,
	fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{
	background-color: #fff;
	border-color: #ccc
}

.btn-default .badge {
	color: #fff;
	background-color: #333
}

#tit_border {
	width: 700px;
	height: 80px;
	float: left;
}

#tit {
	width: 600px;
	height: 80px;
	color: #23A41A;
	font-size: 37px;
	font-weight: bolder;
	letter-spacing: -1px;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
	margin-left: 5px;
}

.seller_table {
	width: 650px;
	height: 1100px;
	border-top: 2px solid #23A41A;
	border-bottom: 2px solid #23A41A;
}

th {
	width: 300px;
	text-align: left;
}

.font {
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

td {
	width: 200px;
}

.tline {
	width: 600px;
	height: 5px;
	border-top: 1px dotted #23A41A;
}

input, select {
	border: 1px solid gray;
	padding-left: 5px;
}


#p_id {
	float: none;
	font-size: 17px;
	font-weight: bold;
}

#p_select {
	width: 80px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.info {
	width: 150px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.title{
	width: 565px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

#e_select {
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}