@CHARSET "UTF-8";

@charset "UTF-8";

.h3{
	font-size: 20px;
}

.h4{
	font-size: 16px;
	color: #23A41A;
}

.h5{
	color: #8C8C8C;
}

.contain{
	width: 800px;
	margin: 0 auto;
}

.title-color{
	color: #23A41A;
}

.order-table, table {
	border-collapse: collapse
}

table {
	border-spacing: 0;
	border-radius: 5px;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px
	
}

.table .table {
	background-color: #fff
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th,
	.table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th,
	.table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding: 5px
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #E2E2E2;
	border-radius: 5px;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width: 2px
}

.table-responsive {
	overflow-x: auto;
	min-height: .01%
}

.text-center{
	text-align: center;
}

.btn {
	background-color: #23A41A;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 15px;
	font-size: 13px;
	line-height: 1.5438;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.btn-block {
	display: block;
	width: 100%
}

.collapsing {
	height: 0;
	overflow: hidden;
	transition-property: height, visibility;
	transition-duration: .35s;
	transition-timing-function: ease
}

.panel {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #E2E2E2;
	/* border-radius: 5px; */
}

.row{
	padding: 20px 20px 20px 30px;
}

#main-info{
	padding-left: 80px;
}

#main-img{
	width: 700px;
	margin-bottom: 20px;
}

.panel-title, .panel>.list-group, .panel>.panel-collapse>.list-group,
	.panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table
	{
	margin-bottom: 0
}

.panel-body {
	padding: 20px
}

.panel-title {
	margin-top: 0;
	font-size: 15px
}

.panel>.table-responsive {
	border: 0;
	margin-bottom: 0
}

.btn-brand {
	color: #f1f1f1;
	background-color: #23A41A;
	border-color: #23A41A
}

.btn-brand.active, .btn-brand:active, .btn-brand:hover,
	.open>.btn-brand.dropdown-toggle {
	color: #fff;
	background-color: #006700;
	border-color: #006700
}

.package-table {
	margin-top: 10px
}

.package-table>tbody>tr>td {
	padding: 15px;
	vertical-align: middle
}

.package-gig-type-standard {
	width: 53.6%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(241, 241, 241, .8);
	z-index: 95;
	text-align: center
}

.package-option-textarea-price .inner-text {
	position: absolute;
	top: 15px;
	right: 14px;
	z-index: 2;
	text-align: center;
	pointer-events: none;
	color: #888
}

.option-title{
	text-align: center;
}

.package-hover {
	background-color: #F6F6F6 !important
}

#con-img{
	width: 700px;
}

