@CHARSET "UTF-8";

.container{
	margin: 0 auto;
}

.title-img{
	width: 40px;
	height: 40px
}

#sell{
	width: 1080px;
	margin: 0 auto;
	margin-top: 10px;
	
}

.w3-hover-opacity {
    cursor: pointer;
}

.w3-hover-opacity:hover {
    opacity: 0.60;
}

.thumbnail {
	padding: 0 10px 30px 40px;
	border: none;
	border-radius: 0;
	float: left;
	text-align: center;
}

.thumbnail p {
	padding-bottom: 15px;
	color: #555;
}

.text-center {
	padding-top: 10px;
	margin-bottom: 50px;
	resize: none;
	color:#4C4C4C;
	text-align: center;
 	border-bottom: 1px solid #23A41A;
	padding-bottom: 30px;
	font-size: 35px;
}

.seller_img {
	width: 300px;
	height: 200px;
}