<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="FileMapper">
  		<insert id="insert" parameterType="FileDTO">
  			insert into files values(file_seq.nextval, #{id},#{fname},#{oname}) 
  		</insert>
  		<select id="selectList" parameterType="String" resultType="FileDTO">
  			select * from files where id=#{id}
  		</select>
  		<delete id="delete" parameterType="int">
  			delete files where id=#{id}
  		</delete>
  		<delete id="deleteFnum" parameterType="int">
  			delete files where fnum=#{fnum}
  		</delete>
  	</mapper>