<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PaperMapper">

	<!-- 이력서 등록 -->
	<!--기본정보/학력/희망근무/경력-->
	<insert id="paperInsert" parameterType="PaperDTO">
	insert into paper values
	(#{id},#{fname},#{oname},#{army},#{marry},#{hobby},#{working},#{title},sysdate,
	#{s_kind},#{s_name},#{major},#{entrance},#{graduation},
	#{h_kind},#{h_job},#{h_work},#{location},#{salary},
	#{career_kind},#{company_n},#{joined},#{resign},#{w_kind},#{rank},#{fess},#{career_work},#{career_sal},paper_seq.nextval)
	</insert>
	<!--자격증-->
	<insert id="licenseInsert" parameterType="LicenseDTO">
		insert into license values (#{id},#{l_kinds},#{l_names},#{l_date},#{l_issue})
	</insert>
	<!--포트폴리오-->
	<insert id="portInsert" parameterType="PortDTO">
		insert into port values (#{id},#{fname},#{oname},#{p_date},#{people},#{contents})
	</insert>
	
	<!-- 이력서 갯수 제한 -->
	<select id="paperCount" parameterType="String" resultType="int">
		select count(id) from paper where id=#{id}
	</select>
</mapper>