<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecruitMapper">
	<insert id="companyRecruit" parameterType="RecruitDTO">
		insert into recruit
		values (
		apply_seq.nextval,
		#{id},
		#{title},
		#{deadline},
		#{people},
		#{gender},
		#{age},
		#{school},
		#{special},
		#{salary},
		#{w_date},
		#{w_day},
		#{w_time},
		#{job},
		#{work},
		#{benefit},
		#{contents},
		#{fname},
		#{oname}
		)
	</insert>
	<select id="companySelectOne" parameterType="int" resultType="RecruitDTO">
		select * from recruit where num=#{num}
	</select>
	<select id="companyRecruitList" resultType="RecruitDTO">
		select * from recruit
	</select>
	<update id="Update" parameterType="RecruitDTO">
		update recruit set
		title=#{title}, deadline=#{deadline}, people=#{people},
		gender=#{gender}, age=#{age}, school=#{school}, special=#{special},
		salary=#{salary}, w_date=#{w_date}, w_day=#{w_day}, w_time=#{w_time},
		job=#{job}, work=#{work}, benefit=#{benefit}, contents=#{contents},
		fname=#{fname}, oname=#{oname} where num=#{num}
	</update>

	<select id="User_Recruit_Total_List" resultType="RecruitDTO">
		select * from (select * from recruit order by id) R
	</select>

 	<select id="user_Recruit_select_One" parameterType="int" resultType="RecruitDTO">
		select * from (select * from recruit order by id) where num=#{num}
	</select>
	
	<select id="Recruit_Total_Count" resultType="Integer">
		select count(num) from recruit
	</select>
	
	<update id="companyRecruitUpdate" parameterType="RecruitDTO">
		update recruit set
		num=#{num},
		id=#{id},
		title=#{title},
		deadline=#{deadline},
		people=#{people},
		gender=#{gender},
		age=#{age},
		school=#{school},
		special=#{special},
		salary=#{salary},
		w_date=#{w_date},
		w_day=#{w_day},
		w_time=#{w_time},
		job=#{job},
		work=#{work},
		benefit=#{benefit},
		contents=#{contents}
		where num=#{num}
	</update>
	
	<select id="Area_Select" resultType="AreaCodeDTO">
		select * from area_code order by code_num asc
	</select>
	
	<select id="Job_Select" resultType="String">
		select * from jobkind
	</select>
	
	<select id="Spec_Select" resultType="String">
		select * from spec
	</select>
	
	<select id="SearchSelect" parameterType="ConditionDTO" resultType="RecruitDTO">
		select * from (select M.addr, R.* from member M inner join recruit R on M.id=R.id) J where 
		title like '%' || #{con1} || '%' and
		gender like '%' || #{con2} || '%' and
		w_day like '%' || #{con3} || '%' and
		salary like '%' || #{con4} || '%' and
		age like '%' || #{con5} || '%' and
		job like '%' || #{con6} || '%' and
		job like '%' || #{con7} || '%' and
		addr like '%' || #{con8} || '%' and
		addr like '%' || #{con9} || '%' and
		w_date like '%' || #{con10} || '%' and
		w_date like '%' || #{con11} || '%' and
		w_date like '%' || #{con12} || '%' and
		w_date like '%' || #{con13} || '%' and
		w_date like '%' || #{con14} || '%' and
		w_date like '%' || #{con15} || '%' and
		school like '%' || #{con16} || '%' and
		school like '%' || #{con17} || '%' and
		school like '%' || #{con18} || '%' and
		school like '%' || #{con19} || '%' and
		school like '%' || #{con20} || '%' and
		school like '%' || #{con21} || '%' and
		school like '%' || #{con22} || '%' and
		school like '%' || #{con23} || '%' and
		w_time like '%' || #{con24} || '%' and
		w_time like '%' || #{con25} || '%' and
		w_time like '%' || #{con26} || '%' and
		w_time like '%' || #{con27} || '%' and
		w_time like '%' || #{con28} || '%' and
		special like '%' || #{con29} || '%' and
		special like '%' || #{con30} || '%'
	</select>
</mapper>