<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecruitMapper">
	<insert id="companyRecruit" parameterType="RecruitDTO">
		insert into recruit
		values (
		apply_seq.nextval,
		#{id},
		#{title},
		#{deadline},
		#{people},
		#{gender},
		#{age},
		#{school},
		#{special},
		#{salary},
		#{w_date},
		#{w_day},
		#{w_time},
		#{job},
		#{work},
		#{benefit},
		#{contents},
		#{fname},
		#{oname}
		)
	</insert>
	<select id="companySelectOne" parameterType="int" resultType="RecruitDTO">
		select * from recruit where num=#{num}
	</select>
	<select id="companyRecruitList" resultType="RecruitDTO">
		select * from recruit
	</select>
	<update id="Update" parameterType="RecruitDTO">
		update recruit set
		title=#{title}, deadline=#{deadline}, people=#{people},
		gender=#{gender}, age=#{age}, school=#{school}, special=#{special},
		salary=#{salary}, w_date=#{w_date}, w_day=#{w_day}, w_time=#{w_time},
		job=#{job}, work=#{work}, benefit=#{benefit}, contents=#{contents},
		fname=#{fname}, oname=#{oname} where num=#{num}
	</update>

	<select id="User_Recruit_Total_List" resultType="RecruitDTO">
		select * from (select * from recruit order by id) R
	</select>

 	<select id="user_Recruit_select_One" parameterType="int" resultType="RecruitDTO">
		select * from (select * from recruit order by id) where num=#{num}
	</select>
	
	<select id="Recruit_Total_Count" resultType="Integer">
		select count(num) from recruit
	</select>
	
	<update id="companyRecruitUpdate" parameterType="RecruitDTO">
		update recruit set
		num=#{num},
		id=#{id},
		title=#{title},
		deadline=#{deadline},
		people=#{people},
		gender=#{gender},
		age=#{age},
		school=#{school},
		special=#{special},
		salary=#{salary},
		w_date=#{w_date},
		w_day=#{w_day},
		w_time=#{w_time},
		job=#{job},
		work=#{work},
		benefit=#{benefit},
		contents=#{contents}
		where num=#{num}
	</update>
	
	<select id="Area_Select" resultType="AreaCodeDTO">
		select * from area_code order by code_num asc
	</select>
	
	<select id="Job_Select" resultType="String">
		select * from jobkind
	</select>
	
	<select id="Spec_Select" resultType="String">
		select * from spec
	</select>
	
	<select id="SearchSelect_United" parameterType="ConditionDTO" resultType="RecruitDTO">
	(select res.* from
	(select * from 
	(select special.* from 
	(select * from 
	(select w_time.* from 
	(select * from 
	(select school.* from 
	(select * from 
	(select w_date.* from 
	(select * from 
	(select addr.* from 
	(select * from 
	(select job.* from 
	(select * from 
	(select J.* from 
	(select M.addr, R.* from member M inner join recruit R on M.id=R.id) J) where 
	job like '%' || #{con6, jdbcType=VARCHAR} || '%' or 
	job like '%' || #{con7, jdbcType=VARCHAR} || '%') job) where
	addr like '%' || #{con8, jdbcType=VARCHAR} || '%' or 
	addr like '%' || #{con9, jdbcType=VARCHAR} || '%') addr) where
	w_date like '%' || #{con10, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con14, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con12, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con13, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con14, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con15, jdbcType=VARCHAR} || '%') w_date) where
	school like '%' || #{con16, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con17, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con18, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con19, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con20, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con21, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con22, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con23, jdbcType=VARCHAR} || '%') school) where
	w_time like '%' || #{con24, jdbcType=VARCHAR} || '%' or 
	w_time like '%' || #{con25, jdbcType=VARCHAR} || '%' or 
	w_time like '%' || #{con26, jdbcType=VARCHAR} || '%' or
	w_time like '%' || #{con27, jdbcType=VARCHAR} || '%' or 
	w_time like '%' || #{con28, jdbcType=VARCHAR} || '%') w_time) where
	special like '%' || #{con29, jdbcType=VARCHAR} || '%' or 
	special like '%' || #{con30, jdbcType=VARCHAR} || '%') special)) res) where
	title like '%' || #{con1, jdbcType=VARCHAR} || '%' and
	gender like '%' || #{con2, jdbcType=VARCHAR} || '%' and
	w_day like '%' || #{con3, jdbcType=VARCHAR} || '%' and
	salary like '%' || #{con4, jdbcType=VARCHAR} || '%' and
	age like '%' || #{con5, jdbcType=VARCHAR} || '%'
<!-- 		select O.* from (select J.* from (select M.addr, R.* from member M inner join recruit R on M.id=R.id) J where 
		job like '%' || #{con6, jdbcType=VARCHAR} || '%' or
		job like '%' || #{con7, jdbcType=VARCHAR} || '%' or
		addr like '%' || #{con8, jdbcType=VARCHAR} || '%' or
		addr like '%' || #{con9, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con10, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con11, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con12, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con13, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con14, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con15, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con16, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con17, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con18, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con19, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con20, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con21, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con22, jdbcType=VARCHAR} || '%' or
		school like '%' || #{con23, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con24, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con25, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con26, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con27, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con28, jdbcType=VARCHAR} || '%' or
		special like '%' || #{con29, jdbcType=VARCHAR} || '%' or
		special like '%' || #{con30, jdbcType=VARCHAR} || '%') O where
		title like '%' || #{con1, jdbcType=VARCHAR} || '%' and
		gender like '%' || #{con2, jdbcType=VARCHAR} || '%' and
		w_day like '%' || #{con3, jdbcType=VARCHAR} || '%' and
		salary like '%' || #{con4, jdbcType=VARCHAR} || '%' and
		age like '%' || #{con5, jdbcType=VARCHAR} || '%' -->

	</select>
	
	<select id="SearchSelect_Var" parameterType="ConditionDTO" resultType="RecruitDTO">
		select * from (select M.addr, R.* from member M inner join recruit R on M.id=R.id) J where 
		title like '%' || #{con1, jdbcType=VARCHAR} || '%' and
		gender like '%' || #{con2, jdbcType=VARCHAR} || '%' and
		w_day like '%' || #{con3, jdbcType=VARCHAR} || '%' and
		salary like '%' || #{con4, jdbcType=VARCHAR} || '%' and
		age like '%' || #{con5, jdbcType=VARCHAR} || '%'
	</select>
	
	<select id="SearchSelect_Array" parameterType="ConditionDTO" resultType="RecruitDTO">
	select * from 
	(select special.* from 
	(select * from 
	(select w_time.* from 
	(select * from 
	(select school.* from 
	(select * from 
	(select w_date.* from 
	(select * from 
	(select addr.* from 
	(select * from 
	(select job.* from 
	(select * from 
	(select J.* from 
	(select M.addr, R.* from member M inner join recruit R on M.id=R.id) J) where 
	job like '%' || #{con6, jdbcType=VARCHAR} || '%' or 
	job like '%' || #{con7, jdbcType=VARCHAR} || '%') job) where
	addr like '%' || #{con8, jdbcType=VARCHAR} || '%' or 
	addr like '%' || #{con9, jdbcType=VARCHAR} || '%') addr) where
	w_date like '%' || #{con10, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con11, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con12, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con13, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con14, jdbcType=VARCHAR} || '%' or 
	w_date like '%' || #{con15, jdbcType=VARCHAR} || '%') w_date) where
	school like '%' || #{con16, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con17, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con18, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con19, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con20, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con21, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con22, jdbcType=VARCHAR} || '%' or 
	school like '%' || #{con23, jdbcType=VARCHAR} || '%') school) where
	w_time like '%' || #{con24, jdbcType=VARCHAR} || '%' or 
	w_time like '%' || #{con25, jdbcType=VARCHAR} || '%' or 
	w_time like '%' || #{con26, jdbcType=VARCHAR} || '%' or
	w_time like '%' || #{con27, jdbcType=VARCHAR} || '%' or 
	w_time like '%' || #{con28, jdbcType=VARCHAR} || '%') w_time) where
	special like '%' || #{con29, jdbcType=VARCHAR} || '%' or 
	special like '%' || #{con30, jdbcType=VARCHAR} || '%') special)





<!-- 		select * from (select special.* from (select w_time.* from (select school.* from (select w_date.* from (select addr.* from (select job.* from (select J.* from (select M.addr, R.* from member M inner join recruit R on M.id=R.id) J where 
		job like '%' || #{con6, jdbcType=VARCHAR} || '%' or 
		job like '%' || #{con7, jdbcType=VARCHAR} || '%') job where
		addr like '%' || #{con8, jdbcType=VARCHAR} || '%' or
		addr like '%' || #{con9, jdbcType=VARCHAR} || '%' ) addr where
		w_date like '%' || #{con10, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con11, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con12, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con13, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con14, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con15, jdbcType=VARCHAR} || '%' ) w_date where 
		school like  #{con16, jdbcType=VARCHAR} || '%' or
		school like  #{con17, jdbcType=VARCHAR} || '%' or
		school like  #{con18, jdbcType=VARCHAR} || '%' or
		school like  #{con19, jdbcType=VARCHAR} || '%' or
		school like  #{con20, jdbcType=VARCHAR} || '%' or
		school like  #{con21, jdbcType=VARCHAR} || '%' or
		school like  #{con22, jdbcType=VARCHAR} || '%' or
		school like  #{con23, jdbcType=VARCHAR} || '%' ) school where
		w_time like '%' || #{con24, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con25, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con26, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con27, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con28, jdbcType=VARCHAR} || '%' ) w_time where
		special like '%' || #{con29, jdbcType=VARCHAR} || '%' or
		special like '%' || #{con30, jdbcType=VARCHAR} || '%' ) special) result -->
	
	
	
	
	
	
	
	
<!-- 		select * from (select special.* from (select w_time.* from  (select school.* from (select w_date.* from (select addr.* from (select job.* from (select J.* from (select M.addr, R.* from member M inner join recruit R on M.id=R.id) J where 
	 	job like '%' || #{con6, jdbcType=VARCHAR} || '%' or
		job like '%' || #{con7, jdbcType=VARCHAR} || '%' ) job where
		addr like '%' || #{con8, jdbcType=VARCHAR} || '%' or
		addr like '%' || #{con9, jdbcType=VARCHAR} || '%' ) addr where
		w_date like '%' || #{con10, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con11, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con12, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con13, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con14, jdbcType=VARCHAR} || '%' or
		w_date like '%' || #{con15, jdbcType=VARCHAR} || '%' ) w_date where 
		school like  #{con16, jdbcType=VARCHAR} || '%' or
		school like  #{con17, jdbcType=VARCHAR} || '%' or
		school like  #{con18, jdbcType=VARCHAR} || '%' or
		school like  #{con19, jdbcType=VARCHAR} || '%' or
		school like  #{con20, jdbcType=VARCHAR} || '%' or
		school like  #{con21, jdbcType=VARCHAR} || '%' or
		school like  #{con22, jdbcType=VARCHAR} || '%' or
		school like  #{con23, jdbcType=VARCHAR} || '%' ) school where
		w_time like '%' || #{con24, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con25, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con26, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con27, jdbcType=VARCHAR} || '%' or
		w_time like '%' || #{con28, jdbcType=VARCHAR} || '%' ) w_time where
		special like '%' || #{con29, jdbcType=VARCHAR} || '%' or
		special like '%' || #{con30, jdbcType=VARCHAR} || '%' ) special)  -->
	</select>
</mapper>