<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SellMapper">
	<insert id="write" parameterType="SellerDTO"  >
		insert into seller values(#{id},#{title},#{category},#{add_option},#{price},#{work_date},#{contents},#{fname},#{oname},#{refund})
	</insert>
	<insert id="optionWrite" parameterType="OptionDTO">
		insert into selloption value(#{num},#{id},#{name},#{contents},#{price},#{original},#{work_modify}, #{work_date}, #{selloption})
	</insert>
	
	<update id="update" parameterType="SellerDTO">
		update seller set id=#{id},title=#{title},category=#{category},contents=#{contents},fname=#{fname},oname=#{oname},refund=#{refund})
	</update>

	<update id="optionUpdate" parameterType="OptionDTO">
		update selloption set name=#{name},contents=#{contents},price=#{price},original=#{original},work_modify=#{work_modify}, work_date=#{work_date}, selloption=#{selloption})
	</update>
	
	<select id="optionList" parameterType="String" resultType="OptionDTO">
		select * from selloption where id=#{id}	
	</select>
	
	<delete id="delete" parameterType="SellerDTO">
		delete seller where id=#{id}
	</delete>
	
	<select id="selectList" parameterType="String" resultType="SellerDTO">
		select * from seller where category=#{category}	
	</select>
	
	<select id="selectOne" parameterType="SellerDTO" resultType="SellerDTO">
		select * from seller where id=#{id}
	</select>
	
	<insert id="favorInsert" parameterType="FavorDTO">
		insert into favor values(paper_seq.nextval,#{id},#{seller})
	</insert>
	
	<delete id="favorDelete" parameterType="FavorDTO">
		delete favor where id=#{id} and seller=#{seller}	
	</delete>
	
	<select id="favorList" parameterType="String" resultType="FavorDTO">
		select * from favor where id=#{id}
	</select>
	
</mapper>