@charset "utf-8";

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.eot);
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		 url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.woff) ormat('woff'),
		 url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype')
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 700;
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.eot);
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		 url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
		 url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype')
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.eot);
	src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
		 url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.woff) format('woff'),
		 url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.eot);
	src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
		 url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.woff) format('woff'),
		 url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 75%;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
	color: #000;
}

#main {
	width: 1100px;
	display: block;
	background-color: white;
	border: 0;
	margin: auto;
	margin-top: 100px;
}

ul, ol, li {
	list-style: none;
}

legend, caption, .hidden {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}

ul, ol, li, a, table, td, th, p, dl, dd, dt, strong, span, div {
	font-size: 1em;
	line-height: 1.5;
	word-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
	/* font-size: 1em; */
	letter-spacing: -1px;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
}

.h1 {
	color: #23A41A;
	font-size: 37px; 
	font-weight: bolder;
	margin-top: 40px;
	margin-bottom: 40px;
}

input, select {
	vertical-align: middle;
	color: #000;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
}
/*input[type="password"] { color:#555;}*/
input::-ms-clear {
	display: none;
}

textarea {
	border: 1px solid #d9d9d9;
	font-size: 12px;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
	resize: none;
	box-sizing: border-box;
}

hr {
	display: none;
}

/* 기본 링크 스타일 */
a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover, a:focus {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #767676;
	text-decoration: none;
}

a.hoverline:hover {
	text-decoration: underline
}




