@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;

}

#logo{
	background-image: ('/Final_1/resources/images/common/logo.jpg') no-repeat 0 0;
	margin-top: 100px;
	width: 100px;
	height: 100px;
}


a {
	color: red;
}

