@charset "UTF-8";

.container {
	width:100%;
	height: 500px;
}

.container #scrap_table {
	border:1px solid gray;
	border-collapse: collapse;
	border-spacing: 0;
	width:70%;
}

.container #scrap_table #firstrow {
	height:30px;
	font-size: 15px;
	font-weight: bold;
	border-top: 1px solid lightgray;
	border-bottom: 2px solid lightgray;
}

.container #scrap_table #extrarow {
	height:50px;
}

.container #scrap_table #extrarow td {
	text-align: center;
}

#page {
	width:70%;
	margin-left:300px;
	margin-top:20px;
}

#page input {
	display: inline-block;
}

#btnarea {
	width:10%;
	margin-left:300px;
	margin-bottom: 10px;
}

.prebtn {
	margin-left:340px;
}

.scbtn {
	width:30px;
	height:20px;
	display: inline-block;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
}

#scrap_del {
	border: 1px solid #cccccc;
	background-color: white;
	color:#494949;
	font-weight: bold;
	height:30px;
	border-radius: 4px;
}