@charset "UTF-8";

.container {
	width:100%;
}

.container #apply_table {
	border:1px solid gray;
	border-collapse: collapse;
	border-spacing: 0;
	width:70%;
}

.container #apply_table #firstrow {
	height:30px;
	font-size: 15px;
	font-weight: bold;
	border-top: 1px solid lightgray;
	border-bottom: 2px solid lightgray;
}

.container #apply_table #extrarow {
	height:50px;
}

.container #apply_table #extrarow td {
	text-align: center;
	
}


#page {
	width:70%;
	border:1px solid red;
	margin-left:300px;
	margin-top:20px;
}

#page input {
	display: inline-block;
	margin:0 auto;
}