@charset "UTF-8";

#first {
	width: 800px;
	display: block;
	background-color: white;
	border: 0px;
	margin: auto;
	margin-bottom:250px;
}

#searchsite {
	width:100%;
}

#rightWing {
	left:1400px;
	top:100px;
	right:1800px;
	bottom:400px;
	position: fixed;
	border:1px solid lightgray;
	width:15%;
	height:120px;
}

#searchsite #form {
	border:1px solid black;
}

#searchsite #form #searchbox .common {
	height:35px;
	border-style: none;
}

#searchsite #form #searchbox .common h3 {
	width:10%;
	margin-top:6px;
	display: inline-block;
}

#searchsite #form #searchbox .selbox {
	display: inline-block;
	margin-left:10px;
}

#searchsite #form #searchbtn #btngroup {
	width:15%;
	margin:0 auto;
}

#searchsite #form #searchbtn {
	border-style: none;
}

