@charset "UTF-8";

#recruit_info {
	width:100%;
}

#recruit_info #registration_info {
	width:100%;
}

#recruit_info #registration_info #reg_num {
	width:50%;
	display: inline-block;
}

#recruit_info #registration_info #reg_num span h4 {
	width:50%;
}

#recruit_info #registration_info #func_btn {
	width:50%;
	display: inline-block;
}

#recruit_info #registration_info #func_btn #scrap_wrap {
	width:12%;
	float:right;
	display: inline-block;
}

#recruit_info #registration_info #func_btn img {
	display:inline-block;
}

#recruit_info #registration_info #func_btn #scrap_btn {
	background-color: white;
	border-color: white;
	margin-bottom: 10px;
}





#company_info {
	padding-left:40px;
	padding-right: 40px;
	width:90%;
	border:1px solid red;
}

#company_info #recruit_info {
	width:100%;
	border:1px solid blue;
}

#company_info #recruit_info #company {
	padding-top:37px;
	padding-bottom: 2px;
}

#company_info #recruit_info #company h1 {
	padding-right:30px;
	padding-bottom: 37px;
}

#company_info #recruit_info #thumnail {
	padding-top:30px;
	padding-bottom: 30px;
}

#company_info #recruit_info #thumnail #workview_info {
	border: 1px solid red;
	height:122px;
}

#company_info #recruit_info #thumnail #workview_info .thumitem {
	width:18%;
	height:100px;
	border:1px solid blue;
	display: inline-block;
	margin-left:12px;
}

#company_info #recruit_info #thumnail #workview_info .thumitem .circle{
	border-radius:50%;
	width:60px;
	height:60px;
	border:1px solid lightgray;
	margin:0 auto;
	color:blue;
	font-size: 18px;
	text-align: center;
	display: table;
}

#company_info #recruit_info #thumnail #workview_info .thumitem .circle span{
	vertical-align: middle;
	display: table-cell;
}

#company_info #recruit_info #thumnail #workview_info .thumitem .calendar{
	width:60px;
	height:60px;
	border:1px solid violet;
	margin:0 auto;
	display: table;
}

#company_info #recruit_info #thumnail #workview_info .thumitem .clock{
	width:60px;
	height:60px;
	border:1px solid violet;
	margin:0 auto;
	display: table;
}

#company_info #recruit_info #thumnail #workview_info .thumitem .char{
	margin-top:18px;
	width:100%;
	height:20px;
	border: 1px solid black;
	margin-top:18px;
}





#condition_info {
	width:100%;
	height:450px;
	border: 1px solid black;
}

#condition_info #leftbox {
	width:60%;
	height:100px;
	display: inline-block;
	float:left;
	padding: 40px 40px;
}

#condition_info #leftbox #recruit_condition {
	margin-bottom: 40px;
	border-bottom: 1px solid rightgray;
	padding-bottom: 40px;
}

#condition_info #leftbox #recruit_condition .recruit_data {
	display: inline-block;
}

#condition_info #leftbox #recruit_condition .rdh3 {
	margin-left:50px;
}

#condition_info #leftbox #work_condition .recruit_data {
	display: inline-block;
}

#condition_info #leftbox #work_condition .rdh3 {
	margin-left:50px;
}

#condition_info #rightbox {
	width:25%;
	height:300px;
	display: inline-block;
	border: 1px solid gray;
	float:right;
	padding:40px 40px;
}

#condition_info #rightbox #applybtn{
	display: inline-block;
	width:100%;
	height:40px;
	background-color: lightgreen;
	color:white;
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgreen;
}

#condition_info #rightbox #recruit_manager {
	width:100%;
	height:100px;
	border: 1px solid violet;
	margin-top:17px;
}

#condition_info #rightbox #recruit_manager .recruit_data {
	display: inline-block;
}

#condition_info #rightbox #recruit_manager .rdh3{
	margin-left:50px;
}





#viewtab {
	width:100%;
	height:2500px;
	border: 1px solid black;
	margin-top:10px;
}

#viewtab #tablist {
	width:100%;
	border: 1px solid black;
}

#viewtab #tablist ul li {
	width:33%;
	border: 1px solid red;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}


