@charset "UTF-8";

.middle {
	width:100%;
	height:2000px;
	
}


.middle #search_area {
	width:100%;
	height:500px;
}

.middle #search_area #form {
	border: 1px solid black;
}

.middle #search_area #form .common {
	border:none;
	height:35px;
}

.middle #search_area #form .common h3{
	width:10%;
	display: inline-block;
	margin-left:10px;
}

.middle #search_area #form .common .boxcommon{
	display: inline-block;
}

.middle #search_area #form .genderage {
	display: inline-block;
	width:50%;
}

.middle #search_area #form .genderage h3 {
	width:20%;
	display: inline-block;
	margin-left:10px;
}

.middle #search_area #form #btngroup{
	width:15%;
	margin:0 auto;
}

.middle #search_area #form #searchbtn {
	border: none;
}

.middle #list_area {
	widht:100%;
	height:1200px;
}

.middle #list_area #list_table {
	width:100%;
	border:1px solid gray;
	border-collapse: collapse;
	border-spacing: 0;
}

.middle #list_area #list_table #firstrow {
	border-top:2px solid gray;
	border-bottom:1px solid lightgray;
}

.middle #list_area #list_table #extrarow {
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
}

.middle #list_area #list_table #extrarow:hover {
	background-color: lightgreen;
}

.middle #list_area #list_table #firstrow .f_th{
	height:40px;
	text-align: center;
}

.middle #list_area #list_table #extrarow .e_td{
	height:60px;
	text-align: center;
}

.middle #list_area #list_table #extrarow .e_td2{
	height:60px;
	text-align: left;
}






#powerlinklist {
	width:100%;
	
	border: 1px solid black;
	margin-bottom: 50px;
}

