@CHARSET "UTF-8";

#main2 {
	width: 1080px;
	height: 970px;
}

#tit_border {
	width: 700px;
	height: 80px;
	float: left;
}

#tit {
	width: 600px;
	height: 80px;
	color: #23A41A;
	font-size: 37px;
	font-weight: bolder;
	letter-spacing: -1px;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
	margin-left: 5px;
}

table {
	width: 650px;
	height: 800px;
	border-top: 2px solid #23A41A;
	border-bottom: 2px solid #23A41A;
}

th {
	width: 70px;
	text-align: left;
}

.font {
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

td {
	width: 280px;
}

.tline {
	width: 600px;
	height: 5px;
	border-top: 1px dotted #23A41A;
}

input {
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 5px;
}

.inupt_f {
	width: 300px;
	height: 30px;
}

#p_id {
	float: none;
	font-size: 17px;
	font-weight: bold;
}

#p_select {
	width: 80px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.phone {
	width: 80px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.birth {
	width: 45px;
	height: 25px;
	text-align: right;
	padding-right: 10px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.addr {
	width: 150px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

#addr_btn {
	width: 120px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 10px;
	cursor: pointer;
	background-color: white;
}

#addr_btn:hover {
	font-weight: bold;
	font-size: 15px;
	color: #23A41A;
	border: 2px solid #23A41A;
}

.addr2 {
	width: 200px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.email {
	width: 150px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

#e_select {
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

#code_btn {
	width: 130px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: white;
}

#code_btn:hover {
	font-weight: bold;
	font-size: 15px;
	color: #23A41A;
	border: 2px solid #23A41A;
	cursor: pointer;
}

#btn_border {
	width: 500px;
	height: 100px;
	float: left;
	padding-top: 40px;
	margin-left: 370px;
}

#btn_border_2 {
	width: 260px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
}

#btn {
	width: 130px;
	height: 60px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #23A41A;
	font-size: 17px;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
	padding-bottom: 3px;
	cursor: pointer;
}

#btn:HOVER {
	background-color: white;
	border: 2px solid #23A41A;
	color: #23A41A;
	font-size: 19px;
	font-weight: bold;
}