@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#main {
	width: 100%;
}

.title_border {
	width: 800px;
	height: 100px;
	margin: 0 auto;
}

.title_border2 {
	width: 350px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	padding-top: 15px;
}

#solo {
	color: #33adff;
	font-size: 35px;
}

.terms_border {
	width: 800px;
	margin: 0 auto;
}

.terms_border2 {
	width: 600px;
	margin: 0 auto;
	border-top: 2px solid #33adff;
	font-weight: bold;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.all {
	width: 600px;
	font-size: 17px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
}

.agree {
	width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.point {
	color: red;
	padding-left: 7px;
	padding-right: 7px;
}

.see {
	font-weight: normal;
	font-size: 12px;
	float: right;
	color: #33adff;
	cursor: pointer;
	background-color: white;
	border: none;
}

.choice {
	color: gray;
	padding-left: 7px;
	padding-right: 7px;
}

#sub {
	padding-left: 70px;
	color: gray;
	font-weight: normal;
	font-size: 12px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	font-weight: normal;
}

.see1 {
	width: 590px;
	height: 200px;
	font-size: 13px;
	font-weight: normal;
	overflow: scroll;
	border: 1px solid #33adff;
	display: none;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.see2 {
	width: 590px;
	height: 200px;
	font-size: 14px;
	font-weight: normal;
	overflow: scroll;
	border: 1px solid #33adff;
	display: none;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.see3 {
	width: 590px;
	height: 200px;
	font-size: 14px;
	font-weight: normal;
	overflow: scroll;
	border: 1px solid #33adff;
	display: none;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

#table_border {
	width: 600px;
	height: 800px;
	margin: 0 auto;
}

table {
	width: 600px;
	height: 700px;
	border-top: 2px solid #33adff;
	border-bottom: 2px solid #33adff;
}

th {
	width: 80px;
	text-align: left;
}

.font {
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

td {
	width: 280px;
}

.tline {
	width: 600px;
	height: 5px;
	border-top: 1px dotted #33adff;
}

input{
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 10px;
	font-size: 15px;
}

.inupt_f {
	width: 300px;
	height: 30px;
}

#p_select {
	width: 80px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.phone {
	width: 80px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.birth {
	width: 80px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.addr {
	width: 150px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

#addr_btn {
	width: 120px;
	height: 30px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 5px;
	cursor: pointer;
	background-color: white;
}

#addr_btn:hover {
	font-weight: bold;
	font-size: 15px;
	color: #33adff;
	border: 2px solid #33adff;
}

.addr2 {
	width: 200px;
	height: 25px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.email {
	width: 300px;
	height: 30px;
}

#code_btn {
	width: 60px;
	height: 32px;
	font-size: 15px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: white;
	padding: 0;
}

#code_btn:hover {
	font-weight: bold;
	font-size: 15px;
	color: #23A41A;
	border: 2px solid #23A41A;
	cursor: pointer;
}

.j_btn_b {
	width: 600px;
	height: 100px;
	padding-top: 30px;
	margin-bottom: 100px;
}

#j_btn {
	display: block;
	width: 300px;
	height: 75px;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 15px;
	font-size: 25px;
	font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	color: white;
	background-color: #33adff;
	border: none;
}

#j_btn:hover {
	font-weight: bold;
	color: #33adff;
	border: 2px solid #33adff;
	background-color: white;
}