@CHARSET "UTF-8";

#main2 {
	width: 1080px;
}

#tit_border {
	width: 740px;
	height: 80px;
	float: left;
}

#tit {
	width: 700px;
	height: 80px;
	color: #23A41A;
	font-size: 37px;
	font-weight: bolder;
	letter-spacing: -1px;
	font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
		sans-serif, "돋움", Dotum, "굴림", Gulim;
	margin-left: 5px;
}

#paper_border {
	width: 740px;
	border-top: 2px solid #23A41A;
	border-bottom: 2px solid #23A41A;
	float: left;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#p_tit_border {
	width: 100%;
	height: 160px;
	border-bottom: 1px dotted gray;
}

#p_tit_border_2 {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 20px;
	font-size: 19px;
	font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', AppleGothic,
		sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	padding-top: 30px;
}

#p_tit_border_3 {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 7px;
	padding-top: 10px;
}

#p_tit {
	width: 550px;
	height: 50px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

.p_meun_border {
	width: 300px;
	height: 90px;
}

.p_meun_border_2 {
	width: 200px;
	height: 80px;
	box-sizing: border-box;
	padding-left: 20px;
	font-size: 19px;
	font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', AppleGothic,
		sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	padding-top: 30px;
}

.f_left {
	float: left;
}

/*====== 기본정보 ======*/
#info_borders {
	width: 100%;
	height: 640px;
	box-sizing: border-box;
	border-bottom: 1px dotted gray;
}

#border_1 {
	width: 100%;
	height: 270px;
}

.p_tit {
	display: block;
	left: 11px;
	font-size: 12px;
	padding-left: 10px;
	font-family: '맑은 고딕';
	color: #A9A9A9;
}

/* == 이력서  사진 ==*/
#photo_border, #photo_border_2 {
	width: 150px;
	height: 210px;
	float: left;
}

#img_border {
	width: 135px;
	height: 170px;
	background-image: url('/f1/resources/images/paper/photo.png');
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid gray;
	cursor: pointer;
	float: left;
}

#img_photo {
	width: 135px;
	height: 170px;
}

#img_border_2 {
	width: 135px;
	height: 170px;
}

#change_photo {
	width: 90px;
	height: 40px;
	margin-top: 10px;
	margin-left: 25px;
	display: inline-block;
	font-size: 14px;
	font-family: "맑은 고딕";
	box-sizing: border-box;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	background-color: white;
	color: #A9A9A9;
}

#file_label {
	width: 90px;
	height: 40px;
	margin-top: 10px;
	margin-left: 25px;
	display: inline-block;
	font-size: 14px;
	font-family: "맑은 고딕";
	box-sizing: border-box;
	padding-top: 8px;
	padding-left: 13px;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	background-color: white;
	color: #A9A9A9;
}

#file_label:hover, #change_photo:HOVER {
	border: 2px solid #23A41A;
	color: #23A41A;
	font-weight: bold;
	cursor: pointer;
}

#file {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#blah {
	width: 135px;
	height: 170px;
}

/* ===== 여기까지가 사진 ====== */
.name, .radio, .birth {
	width: 260px;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#p_name, #p_birth, #p_gender {
	margin-top: 10px;
	width: 220px;
	height: 35px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

.working {
	float: left;
	width: 80px;
	height: 40px;
	text-align: center;
	font-size: 13px;
	font-family: "돋움";
	box-sizing: border-box;
	margin-top: 22px;
	border: 1px solid #A9A9A9;
	color: #A9A9A9;
	background-color: white;
	border-radius: 5px;
	margin-right: 3px;
	outline: 0;
}

.gender, .army, .period {
	width: 105px;
	height: 100px;
	float: left;
	padding-left: 30px;
	margin-top: 20px;
}

#p_gender, #joined, #resign {
	margin-top: 10px;
	width: 90px;
	height: 35px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

.p_army, .p_marry {
	float: left;
	width: 40px;
	height: 30px;
	text-align: center;
	font-size: 13px;
	font-family: "돋움";
	box-sizing: border-box;
	margin-top: 15px;
	border: 1px solid #A9A9A9;
	color: #A9A9A9;
	background-color: white;
	border-radius: 5px;
	margin-left: 10px;
	outline: 0;
}

.p_marry {
	width: 100px;
	height: 35px;
}

.working:HOVER, .p_army:HOVER, .p_marry:HOVER, #change_btn input:HOVER {
	border: 2px solid gray;
	color: gray;
	font-weight: bold;
	cursor: pointer;
}

.Decision_border {
	width: 350px;
	height: 90px;
	float: left;
	margin-left: 20px;
}

.Decision_border_2 {
	width: 450px;
	height: 90px;
	float: left;
	margin-left: 20px;
}

.Decision_border_3 {
	width: 210px;
	height: 90px;
	float: left;
	margin-left: 20px;
}

.Decision {
	margin-top: 10px;
	width: 300px;
	height: 35px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

.Decision_2 {
	margin-top: 10px;
	width: 420px;
	height: 35px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

.Decision_3 {
	margin-top: 10px;
	width: 200px;
	height: 35px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

.box_border {
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px dotted gray;
	padding-top: 10px;
	float: left;
	padding-bottom: 10px;
}

/*====== select 폼 ======*/
.select_border_2 {
	width: 350px;
	height: 90px;
	float: right;
}

.options {
	width: 315px;
	height: 80px;
	border: none;
	border-bottom: 1px solid gray;
	font-size: 16px;
	font-family: "맑은 고딕";
}

/*====== 자격증 ======*/
#box_tit_border {
	width: 740px;
	float: left;
	border-bottom: 1px dotted gray;
}

.append_border {
	width: 438px;
	height: 95px;
	float: left;
}

.add_box, .port_add {
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 40px;
	margin-top: 25px;
	cursor: pointer;
	background-image: url('/f1/resources/images/paper/add.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}

.add_box:HOVER, .port_add:HOVER {
	background-image: url('/f1/resources/images/paper/add2.png');
}

.x_box, .port_x {
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 40px;
	margin-top: 25px;
	cursor: pointer;
	background-image: url('/f1/resources/images/paper/x.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}

.x_box:HOVER, .port_x:HOVER {
	background-image: url('/f1/resources/images/paper/x2.png');
}

/*====== 경력 사항 ======*/
#box_tit_border_2 {
	width: 740px;
	height: 90px;
	float: left;
	border-bottom: 1px dotted gray;
}

.sub_box {
	width: 440px;
	height: 90px;
	float: right;
	box-sizing: border-box;
	padding-left: 230px;
}

#newcomer {
	width: 80px;
	height: 40px;
	font-size: 14px;
	font-family: "맑은 고딕";
	background-color: white;
	border-radius: 5px;
	border: 1px solid #A9A9A9;
	color: #A9A9A9;
	margin-top: 25px;
	margin-right: 10px;
	outline: 0;
}

#newcomer:HOVER {
	border: 2px solid gray;
	color: gray;
	font-weight: bold;
	cursor: pointer;
}

#careers {
	width: 80px;
	height: 40px;
	font-size: 14px;
	font-family: "맑은 고딕";
	background-color: white;
	border-radius: 5px;
	border: 1px solid #A9A9A9;
	color: #A9A9A9;
	margin-top: 25px;
	margin-right: 10px;
	outline: 0;
}

#careers:HOVER {
	border: 2px solid gray;
	color: gray;
	font-weight: bold;
	cursor: pointer;
}

#carrer_border {
	width: 100%;
	height: 290px;
	border-bottom: 1px dotted gray;
	float: left;
}

#w_kind_border {
	width: 100px;
	height: 90px;
	float: right;
	text-align: center;
}

#w_kind {
	width: 65px;
	height: 35px;
	font-size: 14px;
	font-family: "맑은 고딕";
	margin-top: 28px;
	border: none;
	border-bottom: 1px solid gray;
	padding-left: 5px;
}

.period {
	margin-top: 0;
}
/* === 포트폴리오 === */
#box_tit_border_3 {
	width: 740px;
	height: 90px;
	float: left;
	border-bottom: 1px dotted gray;
}

#onames {
	width: 270px;
}

#oname {
	width: 240px;
}

#change_btn {
	width: 80px;
	height: 90px;
	float: left;
}

#change_btn input{
	width: 70px;
	height: 40px;
	font-size: 14px;
	font-family: "맑은 고딕";
	box-sizing: border-box;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	background-color: white;
	color: #A9A9A9;
	padding-left: 20px;
	padding-bottom: 3px;
	margin-top: 25px;
	outline: none;
}

.port_box_2 {
	width: 150px;
	height: 90px;
	float: left;
	padding-left: 30px;
}

#port_date, #people {
	margin-top: 10px;
	width: 110px;
	height: 35px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

.port_box_3 {
	width: 600px;
	height: 90px;
	float: left;
	padding-left: 20px;
}

#contents {
	margin-top: 10px;
	width: 590px;
	height: 35px;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "맑은 고딕";
	letter-spacing: -1px;
}

/* == 버튼 == */
#up_btn_border {
	width: 740px;
	height: 140px;
	float: left;
	margin-left: 300px;
}

#up_btn {
	width: 300px;
	height: 70px;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
}

#up_btn input {
	width: 130px;
	height: 70px;
	background-color: #23A41A;
	color: white;
	font-family: "맑은 고딕";
	font-size: 22px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#up_btn input:HOVER {
	background-color: white;
	color: #23A41A;
	border: 2px solid #23A41A;
	font-weight: bold;
}