@CHARSET "UTF-8";

*{
	font-size: 14px;
}

#faqH1 {
	color: #23A41A;
	font-size: 37px; 
	font-weight: bolder;
	margin-top: 40px;
	margin-bottom: 40px;
}

#extra {
	width:100%;
	height:500px;
}

#faqzone {
	width:100%;
	height:100px;
	background-color: aqua;
}

#faqzone ul li {
	display: inline-block;
	width:50%;
	cursor: pointer;
}

#faqzone #person {
	width:100%;
	height:100px;
	text-align: center;
	font-size: 50px;
	color:white;
	background-color: #23A41A;
	border: 1px solid #23A41A;
}

#faqzone #company {
	width:100%;
	height:100px;
	text-align: center;
	font-size: 50px;
	color:white;
	background-color: #33adff;
	border: 1px solid #33adff;
}

#faqzone #faqcontents {
	width:100%;
}

td{
	border-top: 1px solid lightGray;
	border-bottom: 1px solid lightGray;
	border-collapse: collapse;
	padding: 10px 5px;
}


.faqTitle{
	cursor: pointer;
}

.toggle_contents{
	background-color: whiteSmoke;
	margin-top: 10px;
	padding: 40px 10px;
}

.div_view{
	display: none;	
}

.faqTable{
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-size: 1em;
}

.tableTitle{
	font-weight: bold;
}

.tableTitle:hover{
	font-weight:bold;
	color: #23A41A;
}

#btnWrite{
	border: 1px solid lightGray;
	padding: 10px 20px;
	background-color: #23A41A;
	color: white;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}

.toggleBtn{
	border: 1px solid lightGray;
	padding: 3px 10px;
	background-color: #fff;
	float: right;
	
}

#frm div + div {
    margin-top: 1em;
}

.list_button {
	display: inline-block;
}

.listbtn {
	margin-left:500px;
}






